/*-----------------------------------------------
--------Responsive adaptation 1680 | 1050--------
------------------------------------------------- */
@media (max-width: 1680px) and (max-height: 1050px){
    .me{
        width: 16vw;
        height: 42vh;
    }

    .cv{
        width: 38vw;
    }
}
/* ------------------------------------------------- */





/*-----------------------------------------------
--------Responsive adaptation 1600 | 900--------
------------------------------------------------- */
@media (max-width: 1600px) and (max-height: 900px){
    .me{
        width: 17vw;
        height: 47vh;
    }

    .cv{
        width: 38vw;
    }
}
/* ------------------------------------------------- */





/*-----------------------------------------------
--------Responsive adaptation 1600 | 1200--------
------------------------------------------------- */
@media (max-width: 1600px) and (max-height: 1200px){
    .me{
        height: 37vh;
    }
}
/* ------------------------------------------------- */





/*-----------------------------------------------
--------Responsive adaptation 1280 | 960--------
------------------------------------------------- */
@media (max-width: 1280px) and (max-height: 960px){
    .me{
        width: 21vw;
        height: 46vh;
    }

    .cv{
        width: 45vw;
    }
}
/* ------------------------------------------------- */





/*-----------------------------------------------
--------Responsive adaptation 1280 | 960--------
------------------------------------------------- */
@media (max-width: 1440px) and (max-height: 900px){
    .me{
        width: 19vw;
        height: 48vh;
    }

    .cv{
        width: 40vw;
    }
}
/* ------------------------------------------------- */





/*-----------------------------------------------
--------Responsive adaptation 1280 | 960--------
------------------------------------------------- */
@media (max-width: 1366px) and (max-height: 768px){
    .me{
        width: 20vw;
        height: 55vh;
    }

    .cv{
        width: 40vw;
    }
}
/* ------------------------------------------------- */





/*-----------------------------------------------
--------Responsive adaptation 1280 | 960--------
------------------------------------------------- */
@media (max-width: 1280px) and (max-height: 800px){
    .me{
        width: 22vw;
        height: 55vh;
    }

    .cv{
        width: 42vw;
    }
}
/* ------------------------------------------------- */





/*-----------------------------------------------
--------Responsive adaptation 1280 | 960--------
------------------------------------------------- */
@media (max-width: 1024px) and (max-height: 768px){
    .me{
        width: 27vw;
    }

    .cv{
        width: 50vw;
    }
}
/* ------------------------------------------------- */

